<template data-controller-name="com.sap.cloud.requisition.view.Draft">

	<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" class="buttonContainer">
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Show" class="formButton" data-enabled="false" id="draftOpen" data-icon="sap-icon://show"></div>
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Post" class="formButton" data-enabled="false" id="draftPost" data-icon="sap-icon://complete"></div>
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="New Blank Form" class="formButton" data-enabled="false" id="draftNew" data-icon="sap-icon://document"></div>
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Delete" class="formButton" data-enabled="false" id="draftDelete" data-icon="sap-icon://delete"></div>
	</div>

</template>
