<template data-controller-name="com.sap.cloud.requisition.view.Positions">

	<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" class="buttonContainer">
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Show" class="formButton" data-enabled="false" id="positionOpen" data-icon="sap-icon://show"></div>
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="New Blank Form" class="formButton" data-enabled="false" id="positionNew" data-icon="sap-icon://document"></div>
	</div>

</template>
