<template data-controller-name="com.sap.cloud.requisition.view.Posted">

	<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" class="buttonContainer">
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Show" class="formButton" data-enabled="false" id="postedOpen" data-icon="sap-icon://show"></div>
		<div data-sap-ui-type="sap.ui.commons.Button" data-text="Clone to New Form" class="formButton" data-enabled="false" id="postedCopy" data-icon="sap-icon://ppt-attachment"></div>
	</div>

</template>
